.category-title {
    font-family: "Helvetica Neue", Arial, sans-serif;
    font-style: normal;
    color: #222222;
    text-align: center;
    margin-top: -55px;
    position: relative;
    top: -50px;
}    


.title1 {
    font-size: 34px;
}

.title2 {
    font-family: "Roboto";
    font-size: 24px;
    padding-top: 5px;
}
