.product-form-wrapper {
    margin-left: 30%;
    margin-right: 30%;
    background-color: #FFF;
    border: 1px solid #dddddd;
    margin-top: 40px;
    padding-top: 20px;
}

.product-form-title {
    font-family: "Roboto", Georgia, 'Times New Roman', Times, serif;
    font-style: bolder;
    font-weight: 1000;
    font-size: 44px;
    line-height: 48px;
    color: #6F4E37;
    text-align: center;
}

.product-form-title2 {
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    color: #222222;
    text-align: center;
    padding-top: 20px;
}

.product-form-title3 {
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: #222222;
    padding-left: 40px;
    padding-top: 40px;
}

.product-form-title4 {
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #595959;
    padding-left: 40px;
    padding-top: 10px;
}

.product-form-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding-left: 40px;
    padding-right: 40px;
}

.product-form-label {
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 28px;
    color: #222222;
    padding-top: 20px;
}

.product-form-input {
    background-color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;    
    line-height: 28px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: #000000;
    height: 40px;
    border-radius: 5px;
    border: .5px solid #dddddd;
    cursor: text;
}

textarea {
    min-height: 100px;
    border: .5px solid #dddddd;
}

select {
    border: .5px solid #dddddd;
    height: 40px;
}

.product-form-buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-bottom: 30px;
}

.product-form-submit-button {
    color: white;
    background-color: #BF9E87;
    border-radius: 24px;
    border: none;
    height: 45px;
    width: 300px;
    margin-top: 30px;
    cursor: pointer;
    text-align: center;
    vertical-align: middle;
    font-size: 16px;
    line-height: 1.5;
    font-family: Arial, Helvetica, sans-serif;
    align-self: center;
}

.product-form-cancel-button {
    color: white;
    background-color: #BF9E87;
    border-radius: 24px;
    border: none;
    height: 45px;
    width: 300px;
    margin-top: 30px;
    cursor: pointer;
    text-align: center;
    vertical-align: middle;
    font-size: 16px;
    line-height: 1.5;
    font-family: Arial, Helvetica, sans-serif;
    align-self: center;
}