.empty-cart-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5%;
    margin-bottom: 20%;
}

.empty-cart1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 32px;
    line-height: 36px;
    font-weight: 300;
}

.empty-cart2 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    line-height: 28px;
    font-weight: 400;
    text-decoration: underline;
    padding-top: 15px;
}


