a {
    padding-right: 5px;
    text-decoration: none;
    color: black;
}

a:link {
    text-decoration: none;
    color: black;
}

a:visited {
    text-decoration: none;
    color: black;
}

a:hover {
    text-decoration: none;
    color: black;
}

a:focus {
    text-decoration: none;
    color: black;
}

a:active {
    text-decoration: none;
    color: black;
}

.footer-container {
    display: flex;
    justify-content: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 40px;
    text-align: center;
    border-top: 1px solid #BF9E87;
    background-color: #BF9E87;
}

.footer-links {
    font-family: 'Roboto', Georgia, serif;
    font-size: 16px;
    color: #222222;
    text-align: center;
    padding-top: 10px;
    position: relative;
}