.CreateReviewForm-Container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap; 
    width: 300px;
    min-height: 350px;
    background-color: #FFF;
    outline: 1px solid #dddddd;
    padding: 30px;
    position: relative;
}

.CreateReviewForm-Title {
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    font-weight: 700;
    line-height: 28px;
}

.errors {
    color: red;
    font-family: "Arial, Helvetica, sans-serif";
    line-height: 20px;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    text-align: left;
    padding-left: 0px;
}


.CreateReviewForm-Label {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 18px;
    font-style: normal;
    font-weight: 700;
    font-size: 13px;
    color: #222222;
}

.CreateReviewForm-Input {
    background-color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;    
    line-height: 28px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: #000000;
    width: 300px;
    height: 45px;
    border-radius: 5px;
    border: .5px solid #dddddd;
    cursor: text;
}

.CreateReview-Submit-Button{
    color: white;
    background-color: #BF9E87;
    border-radius: 24px;
    border: none;
    height: 45px;
    width: 300px;
    margin-top: 5px;
    cursor: pointer;
    text-align: center;
    vertical-align: middle;
    font-size: 16px;
    line-height: 1.5;
    align-self: center;
}

.CreateReview-Cancel-Button {
    color: white;
    background-color: #BF9E87;
    border-radius: 24px;
    border: none;
    height: 45px;
    width: 300px;
    margin-top: 5px;
    cursor: pointer;
    text-align: center;
    vertical-align: middle;
    font-size: 16px;
    line-height: 1.5;
    align-self: center;
}