.SignupForm-Container {
    display: flex;
    flex-direction: column;
    width: 300px;
    min-height: 650px;
    background-color: #FFF;
    outline: 1px solid #dddddd;
    padding: 30px;
    position: relative;
    justify-content: space-between;
}

.SignupForm-Title {
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 28px;
    color:#222222;
}

.SignupForm-Title2 {
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color:#222222;
}

.SignupForm-label {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 18px;
    font-style: normal;
    font-weight: 700;
    font-size: 13px;
    color: #222222;
}

.SignupForm-Input {
    font-family: Arial, Helvetica, sans-serif;    
    line-height: 28px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: #000000;
    min-width: 300px;
    min-height: 40px;
    border-radius: 5px;
    border: .5px solid #dddddd;
    cursor: text;
    margin-bottom: 10px;
}

.register-button {
    color: white;
    background-color: #BF9E87;
    border-radius: 24px;
    border: none;
    height: 45px;
    width: 300px;
    margin-top: 5px;
    cursor: pointer;
    font-size: 16px;
    line-height: 1.5;
    margin-top: 15px;
}

.errors {
    color: red;
    font-family: "Arial, Helvetica, sans-serif";
    line-height: 20px;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    text-align: left;
    margin-left: -40px;
}