.product-container {
    display: flex;
    flex-direction: row;
    border: 1px solid black;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 2%;
}

.shop-name {
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    color: #222222;
}

.products-rating-info {
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 18px;
    color: #222222;
}

.product-image {
    width: 793px;
    height: 634px;
    border-radius: 6px;
    overflow: hidden;
    padding-right: 40px;
}

.product-info {
    /* gap: 20em; */
}

.product-name {
    font-family: 'Roboto', Georgia, serif;
    font-style: normal;
    font-weight: 300;
    font-size: 26px;
    line-height: 32px;
    color: #222222;
}

.product-price {
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 36px;
    color: #222222;
}